<launch>

  <arg name="nao_ip" default="$(optenv NAO_IP 127.0.0.1)" />
  <arg name="nao_port" default="$(optenv NAO_PORT 9559)" />


  <node pkg="nao_pose" type="pose_controller.py" name="pose_controller" args="--pip=$(arg nao_ip) --pport=$(arg nao_port)" output="screen" />

  <node pkg="nao_pose" type="pose_manager.py" name="pose_manager">
    <rosparam file="$(find nao_pose)/config/basic_poses.yaml" command="load" ns="poses" />
    <!-- You can define here a path to a Choregraphe posture library (XAP file). -->
    <param name="xap" value="$(find nao_pose)/config/basic.xap" />
  </node>
</launch>
