<launch>

  <!-- Use CPP node by default for nao_sensors -->
  <arg name="force_python" default="false" />
    
  <node pkg="diagnostic_aggregator" type="aggregator_node" name="diag_agg" clear_params="true">
    <rosparam command="load" file="$(find nao_bringup)/config/nao_analysers.yaml" />
  </node>

  <include file="$(find nao_description)/launch/nao_publisher.launch" />
  <include file="$(find nao_driver)/launch/nao_driver.launch">
    <arg name="force_python" value="$(arg force_python)" />
  </include>
  <include file="$(find nao_pose)/launch/pose_manager.launch" />

</launch>
