<launch>
  <!-- Launch file to start Nao in a simulation.
  Locally connects to a NaoQI running on this machine by default. -->

  <!-- Use Python nodes by default -->
  <arg name="force_python" default="true" />
  <param name="nao_sensors/use_joint_sensors" value="False" />

  <include file="$(find nao_driver)/launch/nao_driver.launch">
    <arg name="force_python" value="$(arg force_python)" />
  </include>
</launch>
