<launch>

  <!-- Use CPP node by default for naoqi_sensors -->
  <arg name="nao_ip" default="$(optenv NAO_IP 127.0.0.1)" />
  <arg name="nao_port" default="$(optenv NAO_PORT 9559)" />
  <arg name="force_python" default="false" />

  <node pkg="diagnostic_aggregator" type="aggregator_node" name="diag_agg" clear_params="true">
    <rosparam command="load" file="$(find nao_bringup)/config/nao_analysers.yaml" />
  </node>

  <include file="$(find nao_description)/launch/nao_v4_publisher.launch" />
  <include file="$(find naoqi_driver)/launch/naoqi_driver.launch">
    <arg name="nao_ip" value="$(arg nao_ip)"/>
    <arg name="nao_port" value="$(arg nao_port)"/>
    <arg name="force_python" value="$(arg force_python)" />
  </include>

  <include file="$(find nao_pose)/launch/pose_manager.launch" >
    <arg name="nao_ip" value="$(arg nao_ip)"/>
    <arg name="nao_port" value="$(arg nao_port)"/>
  </include>
</launch>
