<launch>
  <param name="robot_description" command="$(find xacro)/xacro.py $(find nao_description)/urdf/nao_robot_v3.urdf.xacro" />  

  <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher" />
  <node pkg="nao_description" type="base_footprint" name="base_footprint" />
</launch>